
select * from MSpublisher_databases

EXEC Distribution..sp_browsereplcmds @xact_seqno_start = '0x000028FE00000864000800000000' ,
@xact_seqno_end = '0x000028FE00000864000800000000',@command_id =1, @publisher_database_id = 2




{CALL [dbo].[sp_MSins_dbotblOperators] (815,'a.lihomanova','Anastasia','Lihomanova',0,'',NULL,NULL)}

{CALL [dbo].[P2P_u_tblClients1456802175] (,,,,,,,,N'lovsnesslindon_old2@yahoo.com',,,,,,,N'lovsnesslindon_old@yahoo.com',0x0001)}

SELECT * FROM tblClients  with (nolock) WHERE Email='lovsnesslindon_old3@yahoo.com'

SELECT * FROM tblClients  with (nolock) WHERE Email='lovsnesslindon_old2@yahoo.com'



SELECT * FROM tblClients  with (nolock) WHERE [ClientID]=15293
SELECT * FROM tblClients  with (nolock) WHERE [ClientID]=15187
15187


UPDATE tblClients
SET Email='lovsnesslindon_old2@yahoo.com'
WHERE ClientID=15187


{CALL [dbo].[P2P_u_tblClients1456802175] (,,,,,,,,N'lovsnesslindon_old2@yahoo.com',,,,,,,N'lovsnesslindon_old@yahoo.com',0x0001)}
{CALL [dbo].[P2P_u_tblClients1456802175] (,,,,,,,,N'lovsnesslindon_old2@yahoo.com',,,,,,,N'lovsnesslindon_old@yahoo.com',0x0001)}
{CALL [dbo].[P2P_u_tblClients1456802175] (,,,,,,,,N'lovsnesslindon_old2@yahoo.com',,,,,,,N'lovsnesslindon_old@yahoo.com',0x0001)}