/****** Script for SelectTopNRows command from SSMS  ******/
SELECT count(*)
  FROM [INFRAACD].[dbo].[ACD_CustomerSession]
  2 993 090
  
  DBCC SHOWCONTIG ('[ACD_CustomerSession]') 
	WITH FAST, TABLERESULTS, ALL_INDEXES, NO_INFOMSGS